.container {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 5px 2px #d3d3d3;
  border-radius: 10px;
  padding: 0px;
}
.form-control:focus, .form-select:focus {
  border: none;
  box-shadow: none;
}
h1 {
  color: #808080;
  padding: 10px;
}
.sub-container {
  display: flex;
  justify-content: space-between;
}
.sub-container select {
  border: none;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #817e7e;
}
.exchange-btn {
  padding: 10px;
  color: #808080;
}
hr {
  margin: 1px 0;
}
.vertical-divider {
  border-left: 1px solid lightgray;
}
.textarea-div {
  width: 50%;
}
.textarea-div textarea {
  border: none;
  font-size: 20px;
  padding: 5px 15px;
}
.translation-area,.translation-container {
  background-color: #ebebeb;
  ;
}
.functions {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}      
.icons {
  display: flex;
  justify-content: space-between;
}
.icons i {
  padding: 0 5px;
  color: #808080;
}
.wordcount {
  font-size: 15px;
  color: #808080;
}
